.name {
  text-align: center;
  font-size: 3em;
  margin-top: -1.5em;
}

.img1 {
  width: 200px;
  height: 150px;
  border-radius: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h3 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 1em;
}

.backround {
  background-color: #a1c1a6;
  border: transparent;
  margin-top: -7px;
  margin-left: -10px;
  margin-right: -1em;
  margin-bottom: 10px;
  background-image: url("images/sunset.gif");
  background-size: 100% 25em;
  background-repeat: no-repeat;
  border-bottom: 30px white;
}

}

hr.new1 {
  border-bottom: 5px solid black;

  height: 10px;
  width: inherit;
  box-shadow: 0 10px 10px -10px black inset;
}

body {
  font-family: sans-serif;
  background-color: #76a47e;
}

.aboutborder {
  margin-top: 1.7em;
  font-size: 30px;
  text-align: center;
  border: solid 7px #a1c1a6;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #bad1bd;
  box-shadow: 10px 15px 15px #3a6441;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 1.2em;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.de {
  margin: 5px;
  margin-top: 2.5em;
  text-align: center;
  border: solid 7px #a1c1a6;
  width: 65%;
  text-indent: 5px;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bad1bd;
  box-shadow: 15px 25px 15px #3b6e44;
  line-height: 2em;
  height: 20em;
  padding: 2em;
}

.projects {
  display: grid;
  margin-top: 4em;
  grid-template-columns: repeat(3, minmax(120px, 0.8fr));
  grid-gap: 1em;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  place-items: center;
}

@media(max-width: 1200px) {
  .projects {

    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-left: 2em;
   
  }
  .nba{
    max-width: 28em;
  }
  .card {
    font-size: 1em;
    max-width: 28em;
  }
  h1.project {
    font-size: 1em;
  }
}




.card {
  background: #bad1bd;
  margin-bottom: 70px;
  padding: inherit;

  width: 50vh;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

p.date {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
}

p.desc {
  font-size: 0.9em;
}

.content {
  padding: 1em;
}

p.date {
  text-align: center;
}

h3 {
  text-align: center;
}

p.desc {
  text-align: center;
}

.nba {
  height: 300px;
  width: 50vh;
  object-fit: auto;
}

.card:hover {
  background: black;
  color: white;
  margin-bottom: 70px;
  padding: inherit;
  height: fit-content;
  width: 50vh;
  margin-left: 1em;
  border: solid black;
  box-shadow: 15px 25px 15px #3b6e44;
}
.card:hover p.label:after {
  content: "<     >";
  font-size: 20px;
  color: #bad1bd;
}
.contactcolor {
  background-color: #a1c1a6;
  border: none;
  padding-top: 10px;
  margin-left: -8.5px;
  margin-right: -13px;
  margin-bottom: -10px;
  padding-bottom: 4em;
}

hr.new2 {
  margin-top: -17px;
  border-bottom: 5px solid black;
  height: 10px;
  box-shadow: 0 10px 10px -10px black inset;
  margin-right: -3px;
}

h1.project {
  margin-right: auto;
  margin-left: auto;
  border: solid 7px black;
  width: 59%;
  text-align: center;
  background: #bad1bd;
  margin-top: 2em;
  margin-bottom: 1em;
  box-shadow: 10px 20px 10px #3b6e44;
  padding: 0.5em;
}

nav {
  text-align: center;
  border: solid gray;
  background: black;
  font-size: 25px;
  padding: 20px;
  margin-top: -5px;

  position: fixed;
  width: 100%;
}
@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

}

a.new {
  text-decoration: none;
  color: white;

  padding: 0.7em;
  padding-top: 0.5em;
}
a.new:hover {
  color: black;
  background-color: grey;
  padding: 0.9em;
}

.name1 {
  text-align: center;
  font-size: 3em;
  margin: 1px;
}

.contactcolumn {
  padding-left: 5em;
  line-height: 2em;
  font-size: 20px;
  text-align: center;
}

.contactcolumn1 {
  margin-left: 15em;
  margin-top: 3.5em;
}

.contactcolumn2 {
  margin-left: 7em;
  margin-top: 3.5em;
}

.contactcolumn3 {
  padding-left: 12em;
  line-height: 2em;
  font-size: 20px;
  text-align: center;
}


.logo {
  width: 5em;
  height: 4em;
  border-radius: 23%;
  background-color: white;
}

.logo:hover {
  box-shadow: 10px 20px 10px #3b6e44;
  background-color: blue;
}

.logo2 {
  width: 5em;
  height: 4em;
  border-radius: 70%;
  background-color: white;
}

.logo2:hover {
  box-shadow: 10px 20px 10px #3b6e44;
  background-color: blue;
}

@media (max-width: 1000px) {
  .contactcolumn1 {
    margin-left: 3em;
  }
  .contactcolumn {
    margin-left: -4em;
    font-size: 1em;
  }
  .contactcolumn2{
    margin-left: 5em;
  }
  .contactcolumn3{
    margin-left:-1em;
    padding-right: 5em;
    padding-left: 8em;
    
    
  }
 
  .aboutborder {
    width: 4em;
    height: 2em;
  }
  .de {
    padding: 1em;
  }
  .logo{
    width: 4em;
  }
}


